# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules

# Build / dist
build

# Yalc
.yalc
yalc.lock

# Rollup Plugin Typescript 2
.rpt2_cache

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea

# Jest TestComponent Results
test-results
